@responsive {
  .container {
    @apply mx-auto px-4;

    max-width: 88rem;

    @screen md {
      @apply px-8;
    }
  }
}

.g-posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1rem;

  @screen xl {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.g-post-content {
  @apply mx-auto;

  max-width: 75ch;
}
